@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 2.5));
  }
}

.sliders {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sliders .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 15);
}

.sliders .slide {
  height: 100px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliders img {
  width: auto;
}


.slide img {
  width: 200px;
}

























/* .sliders {
  overflow: hidden;
}

.slide-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-250px * 7));
	}
}

.slider {
	height: 100px;
	margin: auto;
	overflow: hidden;
	position: relative;
	width: auto;
}

.slider .slide-track {
	animation: scroll 40s linear infinite;
	display: flex;
	width: calc(250px * 14);
}

.slider .slide {
	height: 100px;
	width: 250px;
} */
